

$dashboardBgColor: #f5f5f5;
$mainAuthenBg: #faf8fd;
$textColorOnWhite: #616161;
$titleColorOnWhite: #494949;
$darkSilver: #535353;
$middleSilver: #858585;
$lightSilver: #eaeaea;
$textColorInDarkMode: #bababa;
$lightSilverIconColor: #999999;
$blackTitleColor: #1f1f1f;

////////////////// Input Colors ////////////////
$inputBorderBottom: #c3c3c3;
$hoverInputBorderBottom: #9d9d9d;
$focusedInputBorderBottom: #818181;
$inputTextColor: #535353;
$inputPlaceholder: #b3b3b3;


$state100: #F9F9F9;
$state200: #F3F3F3;
$state300: #E8E8E8;
$state400: #CBCBCB;

//Primary Blue
$blue100: #EFF4F8;
$blue200: #E4EDF4;
$blue300: #DBE7F0;
$blue400: #C4DCEF;
$blue500: #3441FF;

//Primary Green
$green100: #F2F6F0;
$green200: #E6ECE3;
$green300: #DBE6D5;
$green400: #C9E0BD;

$errorColor: #ff1a1a;
$darkRedErrorColor: #bd0000;
$successColor: #01ff6a;
$successBtnTextColor: #01ff6a;
$lightGreenColor:  #00b95c;
$infoColor: #039be5;
$warningColor: #d08600;
$darkOrange: #FF9800;
$deepOrange: #FF9800;
$materialBlue: #00c4ff;
$lightMaterialBlue: #0ff4ff ;
$hoverInputOutline: #00e8ff;
$redMaterial: #f44336;
$redDeepMaterial: #d50000;
$grayMaterial: #607D8B;
$pinkMaterial: #F50057;
$greenMaterial: #00C853;
$orangeMaterial: #FFAB00;

$primaryLight: #2196f3;
$secondaryLight: #f50057;
